/* font-family: 'Dancing Script', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Unna', serif; */

body {
  background: linear-gradient(to right, rgb(35, 32, 49), rgb(206, 217, 245));
}

.navbar {
  background-color: rgba(223, 252, 234, 0.5);
  height: 5rem;
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
  vertical-align: middle;
}

.navbar .middle {
  flex: 62%;
}

.float-left {
  vertical-align: middle;
  float: left;
  display: flex;
  flex: 22%;
  margin-left: 2rem;
}

.float-right {
  margin-right: 2rem;
  display: flex;
  float: right;
  margin-left: 2rem;
  flex: 16%;
  vertical-align: middle;
}

.left {
  float: left;
}

.navbar ul li {
  margin-left: 2.3rem;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
}

.focused {
  padding: 12px 7px 12px 7px;
  border-color: rgb(34, 85, 68);
  border: 1.5px;
  border-style: solid;
  border-radius: 50%;
}

.center {
  align-items: center;
  justify-content: center;
}

.links {
  text-decoration: none;
  padding: 12px 7px 12px 7px;
  color: rgb(48, 100, 83);
  font-weight: 600;
  float: left;
}

.links:focus {
  padding: 12px 7px 12px 7px;
  border-color: rgb(73, 177, 142);
  border: 1.5px;
  border-style: solid;
  border-radius: 50%;
}

.links:hover {
  color: white;
  padding: 12px 7px 12px 7px;
  background-color: rgb(73, 177, 142);
  border-radius: 50%;
}

.margin {
  color: rgb(34, 85, 68);
  margin: 0px 150px;
  /* float: right; */
}

.background-img {
  max-width: 100%;
  max-height: 100%;
  filter: brightness(40%);
}

.home-title {
  position: absolute;
  top: 35%;
  left: 50%;
  font-size: 8rem;
  text-transform: uppercase;
  color: white;
}

.main-choices {
  position: absolute;
  top: 85%;
  left: 20%;
  display: grid;
  grid-template-columns: 600px 50px 600px;
}

.grid-item-left {
  justify-items: flex-start;
}

.grid-item-right {
  justify-items: flex-end;
}

.main-choice {
  width: 450px;
  height: 300px;
  object-fit: cover;
}

.main-choice:hover {
  cursor: pointer;
}

.main-choices span {
  position: absolute;
  top: 227px;
  right: 200px;
  width: 450px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  z-index: 1;
}

.categories-container {
  display: grid;
  margin: 100px auto;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.category-card {
  position: relative;
  max-height: 300px;
  max-width: 450px;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: beige;
}

.category-card img {
  position: relative;
  width: 450px;
  height: 300px;
  object-fit: cover;
}

.category-card img:hover {
  cursor: pointer;
}

.category-card span {
  position: absolute;
  bottom: 0px;
  height: 50px;
  right: 0;
  width: 450px;
  text-align: center;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  z-index: 1;
}

.products-container {
  display: grid;
  margin: 50px auto;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 0.7rem;
}

.product-details {
  position: absolute;
  visibility: hidden;
  width: 380px;
  bottom: 45px;
  height: 0px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  background-color: rgba(227, 226, 245, 0.8);
  z-index: 2;
}

.product-card {
  position: relative;
  max-height: 280px;
  max-width: 380px;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  margin: 50px auto;
  align-items: center;
  justify-content: center;
}

.product-card:hover .product-details {
  height: 90px;
  top: initial;
  bottom: 0;
  visibility: visible;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.product-card:hover .product-description {
  visibility: hidden;
  height: 0px;
  bottom: initial;
  bottom: 30px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.product-card img {
  height: 280px;
  width: 380px;
  object-fit: cover;
}

.product-details .description {
  position: absolute;
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
  font-family: "Unna", serif;
  width: 380px;
  text-align: center;
  top: 15px;
}

.order {
  position: absolute;
  display: inline-block;

  visibility: hidden;
  width: 380px;
  bottom: 10px;
  height: 0px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.order-amount {
  position: absolute;
  display: inline-block;
  bottom: 0px;
  right: 60px;
}

.product-card:hover .order {
  visibility: visible;
}

.order-amount input {
  width: 30px;
  height: 25px;
  text-align: center;
}

.order-amount .arrows {
  height: 31px;
  font-size: 19px;
  border: 0px;
  vertical-align: middle;
  background-color: transparent;
}

.arrows .arrow-left {
  padding-right: 3px;
}

.arrows .arrow-right {
  padding-left: 3px;
}

.add-to-cart {
  position: absolute;
  background-color: transparent;
  border: 0ch;
  margin-left: 15px;
  padding-left: 5px;
  font-size: 21px;
  bottom: 2px;
  right: 5px;
}

.total-sum {
  position: absolute;
  left: 10px;
  bottom: 0.2px;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Unna", serif;
}

.product-description {
  position: absolute;
  height: 60px;
  width: 380px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.top-product-description {
  position: absolute;
  width: 380px;
}

.top-product-description .title {
  position: absolute;
  width: 300px;
  height: 30px;
  color: white;
  left: 10px;
  top: 3px;
  font-size: 1.3rem;
}

.top-product-description .indicator {
  position: absolute;
  background-color: transparent;
  top: 10px;
  right: 10px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.price {
  position: absolute;
  color: white;
  width: 60px;
  bottom: 0px;
  right: 10px;
  font-size: 1.2rem;
  text-align: right;
}

.sale {
  position: absolute;
  color: red;
  left: -70px;
  bottom: 0px;
  text-decoration: line-through;
  font-size: 1.2rem;
  text-align: right;
}

.category-header {
  margin-top: 3rem;
  font-size: 4rem;
  font-weight: 800;
  background: linear-gradient(to right, rgb(246, 247, 236), rgb(48, 126, 96));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Unna", serif;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgba(0, 0, 0, 0.6); /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 10px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.cart-container {
  margin: auto;
  margin-top: 5rem;
  padding: 2rem 1.4rem;

  width: 35rem;
  height: 40rem;
  border: 1.6px;
  border-radius: 8px;
  background-color: rgba(223, 252, 234, 0.5);
}

.cart-title {
  margin: 0px auto;
  font-size: 2.2rem;
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(to right, rgb(40, 52, 161), rgb(120, 152, 223));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.cart-category-and-items {
  width: 100%;
}

.cart-category-box {
  border: 0.8px;
  border-style: solid;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.cart-object {
  display: grid;
  width: 430px;
  grid-template-columns: 10px 160px 120px;
  grid-column-gap: 30px;
}

.cart-category-name {
  font-size: 1.5rem;
  font-family: "Unna", serif;
}

.cart-item {
  padding: 3px 0px;
  font-size: 1.2rem;
  font-family: "Unna", serif;
}
